.class-section-two-img-card {
  display: flex;

  // background-color: brown;

  img {
    border-radius: 10px;
  }

  .class-section-two-img-div-one {
    // background-color: yellowgreen;
    margin: 10px;
    height: 200px;
    .class-section-two-img1 {
      max-width: 225px;
    }
    .class-section-two-time-one {
      position: relative;
      background-color: $themeOrange;
      max-width: 80px;
      height: 30px;
      border-radius: 10px;
      top: -210px;
      left: 20px;
      text-align: center;
      color: $themeWhite;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .class-section-two-p-div-one {
      position: relative;
      border-radius: 10px;
      background-color: rgb(243, 230, 206, 0.5);
      top: -130px;

      h5 {
        font-size: 2rem;
      }
    }
  }

  .class-section-two-img-div-two {
    margin: 10px;
    // background-color: blueviolet;
    height: 200px;
    .class-section-two-img2 {
      max-width: 450px;
    }

    .class-section-two-time-two {
      position: relative;
      background-color: $themeOrange;
      max-width: 80px;
      height: 30px;
      border-radius: 10px;
      top: -210px;
      left: 20px;
      text-align: center;
      color: $themeWhite;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .class-section-two-p-div-two {
      position: relative;
      border-radius: 10px;
      background-color: rgb(243, 230, 206, 0.5);
      top: -130px;

      h5 {
        font-size: 2rem;
      }
    }
  }
}

@media screen and (max-width: 850px) {
  .class-section-two-img-card {
    // background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    .class-section-two-img-div-one {
      // background-color: blueviolet;
      margin: 40px 10px;
      .class-section-two-img1 {
        max-width: 400px;
      }

      .class-section-two-time-one {
        top: -270px;
      }
    }

    .class-section-two-img-div-two {
      // background-color: aquamarine;
      margin: 40px 10px;
      .class-section-two-img2 {
        max-width: 300px;
        height: 250px;
        object-fit: cover;
      }

      .class-section-two-time-two {
        top: -270px;
      }
    }
  }
}
