.class-section-one {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .class-section-one-title-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 5vh;
    margin-top: 2rem;

    h2 {
      font-size: 2rem;
      color: $themeOrange;
    }
  }

  .class-section-one-limited-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 90vw;

    div {
      max-width: 500px;
      img {
        margin: 1rem;
        max-width: 500px;
        border-radius: 20px;
      }
    }

    .class-section-one-limited-word-div {
      margin: 1rem;

      h3 {
        font-size: 1.5rem;
        color: $themeOrange;
      }

      .class-section-one-limited-teacher {
        display: flex;
        margin: 1rem 0rem;

        h4 {
          color: $themeGray;
        }

        div {
          background-color: $themeOrange;
          border-radius: 10px;
          margin: 0rem 1rem;
          max-width: 50px;
          display: flex;
          justify-content: center;
          align-items: center;
          color: $themeColor;
        }
      }

      button {
        margin: 1rem 0rem;
        border: none;
        background-color: $themeOrange;
        cursor: pointer;
        border-radius: 10px;
        height: 4vh;
        font-size: 1rem;
        color: $themeWhite;

        &:hover {
          background-color: $themeColor;
          border: 2px solid $themeOrange;
          color: black;
        }
      }
    }
  }
}

.class-section-two {
  .class-section-two-select-div {
    background-color: $themeOrange;
    height: 15vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    div {
      margin-left: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 200px;

      input {
        height: 4vh;
        border: none;
        background-color: $themeWhite;
        border-radius: 5px 0px 0px 5px;
        padding: 0rem 0.5rem;
      }

      button {
        height: 4vh;
        padding: 10px;
        cursor: pointer;
        border: none;
        background-color: $themeGray;
        border-radius: 0px 5px 5px 0px;
        color: $themeWhite;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      select {
        height: 4vh;
        margin-left: 1rem;
        border: none;
        border-radius: 5px;
        padding-left: 1rem;
      }
    }
  }

  .class-section-two-main-div {
    background-color: $themeColor;
    display: flex;
    justify-content: center;

    .ClassSectionTwoImgCard-reverse {
      display: flex;
      flex-direction: row-reverse;
    }

    .class-section-two-main-div-box {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: 3rem 0rem;
      max-width: 80vw;
      // background-color: blue;

      .class-section-two-main-div-box-word-div {
        max-width: 20vw;
        // background-color: aquamarine;

        h4 {
          font-size: 2rem;
        }

        p {
          font-size: 1.2rem;
          margin: 1rem 0rem;
        }
      }
    }
  }
}

.class-section-three {
  background-color: $themeWhite;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  .class-section-three-title {
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: $themeOrange;
    margin-bottom: 3rem;
  }

  .class-section-three-teacher-card-div {
    display: flex;
    flex-wrap: wrap;
    max-width: 90vw;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 850px) {
  .class-section-two {
    .class-section-two-main-div {
      .class-section-two-main-div-box {
        .class-section-two-main-div-box-word-div {
          max-width: 40vw;
        }
      }
    }
  }

  .class-section-three {
    .class-section-three-teacher-card-div {
      max-width: 100vw;
    }
  }
}

@media screen and (max-width: 767px) {
  .class-section-one {
    .class-section-one-limited-div {
      // background-color: aqua;

      div {
        max-width: 320px;
        img {
          margin: 1rem 0rem 0rem 0rem;

          max-width: 320px;
          border-radius: 20px;
        }
      }
    }
  }

  .class-section-two {
    .class-section-two-select-div {
      justify-content: center;
      div {
        margin-left: 0;
      }
    }
    .class-section-two-main-div {
      .class-section-two-main-div-box {
        max-width: 90vw;
        .class-section-two-main-div-box-word-div {
          max-width: 80vw;
        }
      }
    }
  }
}
