footer {
  background-color: $themeOrange;
  color: $themeWhite;

  a {
    color: $themeWhite;
  }

  section {
    background-color: $themeOrange;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  section.footer-section-one {
    border-bottom: solid 2px $themeWhite;
  }

  div.footer-section-div {
    display: flex;
    width: 80vw;
    justify-content: space-between;

    div {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  div.footer-section-div-one {
    height: 12vh;
    p {
      font-size: 2rem;
    }

    input,
    button {
      border: none;
    }

    input {
      height: 5vh;
      width: 12vw;
      padding-left: 10px;
      border-radius: 5px 0px 0px 5px;
      background-color: $themeWhite;
    }

    button {
      height: 5vh;
      max-width: 10vw;
      font-size: 1.1rem;
      border-radius: 0px 5px 5px 0px;
      cursor: pointer;
      background-color: rgb(225, 163, 82);
    }
  }

  div.footer-section-div-two {
    height: 24vh;

    div.footer-nav {
      .footer-section-div-two-coperight {
        display: none;
      }
      ul {
        height: 15vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        li {
          p {
            font-size: 2rem;
          }
        }
      }
    }

    div.footer-coperight {
      display: flex;
      justify-content: center;
      align-items: center;

      div {
        height: 15vh;
        display: flex;
        align-items: flex-end;
      }
    }

    div.footer-social {
      display: flex;
      justify-content: center;
      align-items: center;

      div {
        font-size: 1.5rem;
        align-items: flex-start;
        height: 15vh;

        .footer-social-icon {
          margin: 0px 5px;
          cursor: pointer;
        }
      }
    }
  }
}

@media screen and(max-width:850px) {
  footer {
    div.footer-section-div-one {
      height: 10vh;

      input,
      button {
        font-size: 0.7rem;
      }

      input {
        padding-left: 5px;
      }
    }
    div.footer-section-div-two {
      height: 20vh;
    }
  }
}

@media screen and(max-width:767px) {
  footer {
    div.footer-section-div-one {
      height: 20vh;
      display: flex;
      flex-direction: column;
      justify-content: center;

      p {
        font-size: 1.4rem;
      }

      input {
        padding-left: 0px;
        width: 30vw;
        margin: 1rem 0rem;
      }
    }
    div.footer-section-div-two {
      height: 40vh;
      div.footer-nav {
        .footer-section-div-two-coperight {
          display: block;
          p {
            font-size: 1rem;
          }
        }
        ul {
          height: 30vh;

          li {
            p {
              font-size: 2rem;
            }
          }
        }
      }

      div.footer-coperight {
        display: none;
      }

      div.footer-social {
        div {
          height: 30vh;
        }
      }
    }
  }
}
