.home-section-six-card {
  height: 60vh;
  width: 25vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem;
  border-radius: 15px;
  border: 3px solid $themeOrange;

  .home-section-six-card-img-div {
    img {
      max-width: 100%;
      border-radius: 15px 15px 0px 0px;
    }
  }

  .home-section-six-card-p-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h4 {
      font-size: 1.5rem;
      color: $themeOrange;
    }

    h5 {
      font-size: 1rem;
      color: $themeOrange;
      margin: 0.5rem;
    }

    p {
      font-size: 1rem;
      width: 20vw;
    }
  }

  button {
    width: 20vw;
    height: 4.5vh;
    margin: 1rem;
    border: none;
    background-color: $themeOrange;
    color: $themeWhite;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;

    &:hover {
      background-color: rgb(114, 111, 111);
    }
  }
}
