.home-section-seven-card {
  background-color: $themeWhite;
  height: 120px;
  margin: 0.5rem;
  padding: 0rem 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 10px;

  img {
    max-width: 50px;
    border-radius: 50%;
    margin: 0rem 2rem;
  }

  .home-section-seven-card-p-div {
    p {
      font-size: 1.1rem;
    }

    .star-icon {
      color: $themeOrange;
    }
  }
}

@media screen and (max-width: 767px) {
  .home-section-seven-card {
    .home-section-seven-card-p-div {
      p {
        font-size: 0.9rem;
      }
    }
  }
}
