.home-section-six-card {
  max-width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem;
  border-radius: 15px;
  border: 3px solid $themeOrange;

  &:hover {
    box-shadow: 12px 12px 7px rgba(0, 0, 0, 0.6);
  }

  .home-section-six-card-img-div {
    img {
      border-radius: 15px 15px 0px 0px;
    }
  }

  .home-section-six-card-p-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h4 {
      font-size: 1.5rem;
      color: $themeOrange;
    }

    h5 {
      font-size: 1rem;
      color: $themeOrange;
      margin: 0.5rem;
    }

    p {
      font-size: 1rem;
      max-width: 20vw;
    }
  }

  button {
    margin: 1rem;
    padding: 0.5rem 2rem;
    border: none;
    background-color: $themeOrange;
    color: $themeWhite;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;

    &:hover {
      background-color: $themeGray;
    }
  }
}

@media screen and(max-width:850px) {
  .home-section-six-card {
    max-width: 240px;
  }
}

@media screen and(max-width:767px) {
  .home-section-six-card {
    max-width: 300px;

    .home-section-six-card-p-div {
      p {
        max-width: 50vw;
      }
    }
  }
}
