.home-section-three-card {
  background-color: $themeWhite;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 150px;
  border-radius: 20px;
  margin: 1rem 0rem;

  img {
    max-width: 100px;
    border-radius: 50%;
    margin: 0rem 2rem;
  }

  .home-section-three-card-p-div {
    h4 {
      font-size: 1.5rem;
    }

    .home-section-three-card-experience {
      color: $themeWhite;
    }
  }

  &:hover {
    position: relative;
    right: 150px;
    height: 20vh;
    padding: 50px 0px 50px 0px;

    .home-section-three-card-experience {
      color: black;
    }
  }
}

@media screen and (max-width: 850px) {
  .home-section-three-card {
    .home-section-three-card-p-div {
      .home-section-three-card-experience {
        color: black;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .home-section-three-card {
    .home-section-three-card-p-div {
      h4 {
        font-size: 1.5rem;
      }
    }
  }
}
