.home-section-one {
  height: 75vh;

  #homeimg-one {
    width: 100%;
    object-fit: cover;
    height: 75vh;
    position: absolute;
  }

  div.home-section-one-p-div {
    position: relative;
    top: 30vh;
    left: 10vw;
    max-width: 70vw;

    p,
    h1,
    h2 {
      margin: 0rem 1rem 0rem 0rem;
    }

    p {
      font-size: 1.5rem;
    }
    h1 {
      font-size: 2.5rem;
      span {
        color: $themeOrange;
      }
    }

    div {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      button {
        height: 5vh;
        font-size: 1.1rem;
        border: 0;
        margin: 1rem;
        margin-left: 0;
        border-radius: 10px;
        cursor: pointer;
      }

      .home-section-one-button {
        background-color: $themeOrange;
        color: $themeWhite;

        &:hover {
          background-color: $themeGray;
        }
      }

      .home-section-one-buttontwo {
        background-color: $themeColor;
        border: $themeOrange 1px solid;

        &:hover {
          background-color: $themeWhite;
        }
      }
    }
  }
}

.home-section-two {
  background-color: $themeWhite;
  display: flex;
  flex-direction: column;
  align-items: center;

  .home-section-two-font-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem 0rem;

    h3 {
      font-size: 2rem;
      color: $themeOrange;
    }

    p {
      font-size: 1.2rem;
    }
  }

  .home-section-two-card-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0rem 0rem 3rem 0rem;
  }
}

.home-section-three {
  background-color: $themeColor;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  div.home-section-three-img-div {
    img {
      max-width: 400px;
      border-radius: 20px;
      margin: 2rem;
    }
  }

  .home-section-three-word-div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 2rem 0rem 0rem 2rem;
    max-width: 500px;

    h3 {
      font-size: 2rem;
      color: $themeOrange;
    }

    p {
      font-size: 1.2rem;
    }
  }
}

.home-section-four {
  background-color: $themeWhite;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  img {
    border-radius: 20px;
  }

  .home-section-four-img-div {
    display: flex;
    margin: 3rem 1rem;

    div {
      margin: 0rem 1rem;
    }

    .home-section-four-img-two {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  .home-section-four-word-div {
    max-width: 30vw;

    h3 {
      font-size: 2rem;
      color: $themeOrange;
    }

    p {
      font-size: 1.2rem;
      margin-bottom: 2rem;
    }
  }
}

.home-section-five {
  background-color: $themeColor;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  .home-section-five-word-div {
    max-width: 26vw;

    h3 {
      font-size: 2rem;
      color: $themeOrange;
    }

    p {
      font-size: 1.2rem;
      margin-bottom: 2rem;
    }
  }

  .home-section-five-img-div {
    margin: 3rem 0rem;
  }

  .homeimg12 {
    border-radius: 20px;
  }

  .homeimg13 {
    border-radius: 20px 0px 0px 20px;
  }

  .homeimg12,
  .homeimg13 {
    margin: 0rem 1rem;
  }
}

.home-section-six {
  background-color: $themeWhite;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .home-section-six-font-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 10vh;
    margin: 2rem 0rem 1rem 0rem;

    h3 {
      font-size: 2rem;
      color: $themeOrange;
    }

    p {
      font-size: 1.2rem;
    }
  }

  .home-section-six-card-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
  }
}

.home-section-seven {
  background-color: $themeColor;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .home-section-seven-font-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 10vh;
    margin: 1rem 0rem 1rem 0rem;

    h3 {
      font-size: 2rem;
      color: $themeOrange;
    }
  }

  .home-section-seven-card-div {
    max-width: 90vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 850px) {
  .home-section-one {
    height: 42vh;
    #homeimg-one {
      height: 42vh;
    }

    div.home-section-one-p-div {
      top: 14vh;

      h2 {
        font-size: 1rem;
      }
    }
  }

  .home-section-two {
    .home-section-two-font-div {
      margin-bottom: 0rem;
    }
  }

  .home-section-three {
    div.home-section-three-img-div {
      display: none;
    }
  }

  .home-section-four {
    .Homeimg9 {
      max-width: 250px;
    }

    .Homeimg10,
    .Homeimg11 {
      max-width: 90px;
    }
  }

  .home-section-five {
    .homeimg12 {
      max-width: 350px;
    }
    .homeimg13 {
      display: none;
    }
  }
}

@media screen and (max-width: 767px) {
  .home-section-one {
    height: 70vh;
    #homeimg-one {
      height: 70vh;
    }

    div.home-section-one-p-div {
      top: 30vh;
    }
  }

  .home-section-three {
    .home-section-three-word-div {
      img {
        max-width: 70px;
      }

      p {
        font-size: 1rem;
      }
      .home-section-three-card-p-div {
        p {
          font-size: 0.9rem;
        }
      }
    }
  }
  //
  .home-section-four {
    .Homeimg9 {
      display: none;
    }

    .Homeimg10,
    .Homeimg11 {
      max-width: 200px;
      margin-right: 2rem;
    }

    .home-section-four-img-div {
      .home-section-four-img-two {
        flex-direction: row;
      }
    }

    .home-section-four-word-div {
      max-width: 80vw;

      p {
        font-size: 0.9rem;
      }
    }
  }

  .home-section-five {
    .home-section-five-word-div {
      max-width: 80vw;

      h3 {
        margin-top: 0.5rem;
      }

      p {
        font-size: 0.9rem;
      }
    }

    .homeimg12 {
      max-width: 300px;
    }

    .home-section-five-img-div {
      margin: 0rem 0rem 0.5rem 0rem;
    }
  }
}
