.home-section-two-card-img-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px 10px;
  height: 450px;
  width: 300px;

  .home-section-two-card-img {
    border-radius: 20px;
    position: absolute;
    height: 400px;
    width: 100%;
    object-fit: cover;
  }

  div {
    margin-top: 300px;
    position: relative;
    color: $themeColor;
  }
}

@media screen and (max-width: 850px) {
  .home-section-two-card-img-div {
    margin-top: 15px;
    height: 315px;
    width: 210px;
    font-size: 0.7rem;
    .home-section-two-card-img {
      height: 315px;
    }

    div {
      margin-top: 200px;
    }
  }
}
