.layout {
  overflow: hidden;
}
.social-logo-div {
  font-size: 3rem;
  position: fixed;
  z-index: 10;
  right: 30px;
  display: flex;
  flex-direction: column;
  bottom: 50%;

  .social-logo {
    margin: 3px;
    cursor: pointer;
    color: $themeOrange;
  }
}

@media screen and (max-width: 850px) {
  .social-logo-div {
    display: none;
  }
}
