.teacherCard {
  background-color: $themeColor;
  max-width: 350px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  margin: 50px 20px;

  img {
    border-radius: 50%;
    max-width: 150px;
    border: 3px solid $themeOrange;
    position: relative;
    top: -60px;
  }

  .teacher-word {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 350px;
    padding: 1rem;
    margin-bottom: 1rem;
  }
}
