* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oleo Script", cursive;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
  height: auto;
}

.layout {
  overflow: hidden;
}

.social-logo-div {
  font-size: 3rem;
  position: fixed;
  z-index: 10;
  right: 30px;
  display: flex;
  flex-direction: column;
  bottom: 50%;
}
.social-logo-div .social-logo {
  margin: 3px;
  cursor: pointer;
  color: rgb(184, 113, 51);
}

@media screen and (max-width: 850px) {
  .social-logo-div {
    display: none;
  }
}
nav {
  overflow: hidden;
  background-color: rgb(243, 230, 206);
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 5;
  height: 10vh;
  box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.3);
}
nav .nav-logo-div a {
  color: rgb(184, 113, 51);
  font-size: 2rem;
}
nav .nav-ul-div .nav-ul {
  display: flex;
  width: 30vw;
  justify-content: space-evenly;
}
nav .nav-ul-div .nav-ul a {
  color: rgb(44, 43, 41);
  font-size: 1.1rem;
  transition: all 0.25s ease;
}
nav .nav-ul-div .nav-ul a:hover {
  color: rgb(184, 113, 51);
}
nav .nav-button-div button {
  background-color: rgb(243, 230, 206);
  border: solid 1.25px rgb(184, 113, 51);
  border-radius: 15px;
  color: rgb(184, 113, 51);
  cursor: pointer;
  margin: 0px 10px;
  padding: 0.5rem 0.75rem;
  font-size: 1.1rem;
  font-weight: bold;
  transition: all 0.25s ease;
}
nav .nav-button-div button:hover {
  background-color: rgb(184, 113, 51);
  color: rgb(245, 245, 245);
}
nav .BiAlignRight-div {
  display: none;
}

@media screen and (max-width: 850px) {
  nav .nav-ul-div {
    display: none;
  }
  nav .nav-button-div {
    display: none;
  }
  nav .BiAlignRight-div {
    display: block;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(0, 0, 0, 0.5);
  }
}
footer {
  background-color: rgb(184, 113, 51);
  color: rgb(245, 245, 245);
}
footer a {
  color: rgb(245, 245, 245);
}
footer section {
  background-color: rgb(184, 113, 51);
  display: flex;
  justify-content: center;
  align-items: center;
}
footer section.footer-section-one {
  border-bottom: solid 2px rgb(245, 245, 245);
}
footer div.footer-section-div {
  display: flex;
  width: 80vw;
  justify-content: space-between;
}
footer div.footer-section-div div {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer div.footer-section-div-one {
  height: 12vh;
}
footer div.footer-section-div-one p {
  font-size: 2rem;
}
footer div.footer-section-div-one input,
footer div.footer-section-div-one button {
  border: none;
}
footer div.footer-section-div-one input {
  height: 5vh;
  width: 12vw;
  padding-left: 10px;
  border-radius: 5px 0px 0px 5px;
  background-color: rgb(245, 245, 245);
}
footer div.footer-section-div-one button {
  height: 5vh;
  max-width: 10vw;
  font-size: 1.1rem;
  border-radius: 0px 5px 5px 0px;
  cursor: pointer;
  background-color: rgb(225, 163, 82);
}
footer div.footer-section-div-two {
  height: 24vh;
}
footer div.footer-section-div-two div.footer-nav .footer-section-div-two-coperight {
  display: none;
}
footer div.footer-section-div-two div.footer-nav ul {
  height: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
footer div.footer-section-div-two div.footer-nav ul li p {
  font-size: 2rem;
}
footer div.footer-section-div-two div.footer-coperight {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer div.footer-section-div-two div.footer-coperight div {
  height: 15vh;
  display: flex;
  align-items: flex-end;
}
footer div.footer-section-div-two div.footer-social {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer div.footer-section-div-two div.footer-social div {
  font-size: 1.5rem;
  align-items: flex-start;
  height: 15vh;
}
footer div.footer-section-div-two div.footer-social div .footer-social-icon {
  margin: 0px 5px;
  cursor: pointer;
}

@media screen and (max-width: 850px) {
  footer div.footer-section-div-one {
    height: 10vh;
  }
  footer div.footer-section-div-one input,
  footer div.footer-section-div-one button {
    font-size: 0.7rem;
  }
  footer div.footer-section-div-one input {
    padding-left: 5px;
  }
  footer div.footer-section-div-two {
    height: 20vh;
  }
}
@media screen and (max-width: 767px) {
  footer div.footer-section-div-one {
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  footer div.footer-section-div-one p {
    font-size: 1.4rem;
  }
  footer div.footer-section-div-one input {
    padding-left: 0px;
    width: 30vw;
    margin: 1rem 0rem;
  }
  footer div.footer-section-div-two {
    height: 40vh;
  }
  footer div.footer-section-div-two div.footer-nav .footer-section-div-two-coperight {
    display: block;
  }
  footer div.footer-section-div-two div.footer-nav .footer-section-div-two-coperight p {
    font-size: 1rem;
  }
  footer div.footer-section-div-two div.footer-nav ul {
    height: 30vh;
  }
  footer div.footer-section-div-two div.footer-nav ul li p {
    font-size: 2rem;
  }
  footer div.footer-section-div-two div.footer-coperight {
    display: none;
  }
  footer div.footer-section-div-two div.footer-social div {
    height: 30vh;
  }
}
.home-section-one {
  height: 600px;
}
.home-section-one #homeimg-one {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 600px;
  position: absolute;
}
.home-section-one div.home-section-one-p-div {
  position: relative;
  top: 250px;
  left: 10vw;
  left: 10vw;
  max-width: 70vw;
}
.home-section-one div.home-section-one-p-div p,
.home-section-one div.home-section-one-p-div h1,
.home-section-one div.home-section-one-p-div h2 {
  margin: 0rem 1rem 0rem 0rem;
}
.home-section-one div.home-section-one-p-div p {
  font-size: 1.5rem;
}
.home-section-one div.home-section-one-p-div h1 {
  font-size: 2.5rem;
}
.home-section-one div.home-section-one-p-div h1 span {
  color: rgb(184, 113, 51);
}
.home-section-one div.home-section-one-p-div div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.home-section-one div.home-section-one-p-div div button {
  height: 40px;
  font-size: 1.1rem;
  border: 0;
  margin: 1rem;
  margin-left: 0;
  border-radius: 10px;
  cursor: pointer;
}
.home-section-one div.home-section-one-p-div div .home-section-one-button {
  background-color: rgb(184, 113, 51);
  color: rgb(245, 245, 245);
}
.home-section-one div.home-section-one-p-div div .home-section-one-button:hover {
  background-color: rgb(114, 111, 111);
}
.home-section-one div.home-section-one-p-div div .home-section-one-buttontwo {
  background-color: rgb(243, 230, 206);
  border: rgb(184, 113, 51) 1px solid;
}
.home-section-one div.home-section-one-p-div div .home-section-one-buttontwo:hover {
  background-color: rgb(245, 245, 245);
}

.home-section-two {
  background-color: rgb(245, 245, 245);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-section-two .home-section-two-font-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px 0px;
}
.home-section-two .home-section-two-font-div h3 {
  font-size: 2rem;
  color: rgb(184, 113, 51);
}
.home-section-two .home-section-two-font-div p {
  font-size: 1.2rem;
}
.home-section-two .home-section-two-card-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0px 0px 50px 0px;
}

.home-section-three {
  background-color: rgb(243, 230, 206);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.home-section-three div.home-section-three-img-div img {
  max-width: 400px;
  border-radius: 20px;
  margin: 30px;
}
.home-section-three .home-section-three-word-div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 2rem 0rem 0rem 2rem;
  max-width: 500px;
}
.home-section-three .home-section-three-word-div h3 {
  font-size: 2rem;
  color: rgb(184, 113, 51);
}
.home-section-three .home-section-three-word-div p {
  font-size: 1.2rem;
}

.home-section-four {
  background-color: rgb(245, 245, 245);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.home-section-four img {
  border-radius: 20px;
}
.home-section-four .home-section-four-img-div {
  display: flex;
  margin: 3rem 1rem;
}
.home-section-four .home-section-four-img-div div {
  margin: 0rem 1rem;
}
.home-section-four .home-section-four-img-div .home-section-four-img-two {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.home-section-four .home-section-four-word-div {
  max-width: 30vw;
}
.home-section-four .home-section-four-word-div h3 {
  font-size: 2rem;
  color: rgb(184, 113, 51);
}
.home-section-four .home-section-four-word-div p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.home-section-five {
  background-color: rgb(243, 230, 206);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.home-section-five .home-section-five-word-div {
  max-width: 26vw;
}
.home-section-five .home-section-five-word-div h3 {
  font-size: 2rem;
  color: rgb(184, 113, 51);
}
.home-section-five .home-section-five-word-div p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}
.home-section-five .home-section-five-img-div {
  margin: 3rem 0rem;
}
.home-section-five .homeimg12 {
  border-radius: 20px;
}
.home-section-five .homeimg13 {
  border-radius: 20px 0px 0px 20px;
}
.home-section-five .homeimg12,
.home-section-five .homeimg13 {
  margin: 0rem 1rem;
}

.home-section-six {
  background-color: rgb(245, 245, 245);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home-section-six .home-section-six-font-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem 0rem 1rem 0rem;
}
.home-section-six .home-section-six-font-div h3 {
  font-size: 2rem;
  color: rgb(184, 113, 51);
}
.home-section-six .home-section-six-font-div p {
  font-size: 1.2rem;
}
.home-section-six .home-section-six-card-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}

.home-section-seven {
  background-color: rgb(243, 230, 206);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home-section-seven .home-section-seven-font-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 10vh;
  margin: 1rem 0rem 1rem 0rem;
}
.home-section-seven .home-section-seven-font-div h3 {
  font-size: 2rem;
  color: rgb(184, 113, 51);
}
.home-section-seven .home-section-seven-card-div {
  max-width: 90vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

@media screen and (max-width: 850px) {
  .home-section-three div.home-section-three-img-div {
    display: none;
  }
  .home-section-four .Homeimg9 {
    width: 250px;
  }
  .home-section-four .Homeimg10,
  .home-section-four .Homeimg11 {
    width: 90px;
  }
  .home-section-five .homeimg12 {
    max-width: 350px;
  }
  .home-section-five .homeimg13 {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .home-section-one div.home-section-one-p-div h2 {
    font-size: 1rem;
  }
  .home-section-three .home-section-three-word-div {
    margin: 2rem 1rem 2rem 1rem;
  }
  .home-section-three .home-section-three-word-div img {
    max-width: 70px;
  }
  .home-section-three .home-section-three-word-div p {
    font-size: 1rem;
  }
  .home-section-three .home-section-three-word-div .home-section-three-p-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .home-section-three .home-section-three-word-div .home-section-three-p-div p {
    text-align: center;
  }
  .home-section-three .home-section-three-word-div .home-section-three-card-p-div p {
    font-size: 0.9rem;
  }
  .home-section-four .home-section-four-img-one {
    display: none;
  }
  .home-section-four .Homeimg10,
  .home-section-four .Homeimg11 {
    width: 200px;
    margin: 10px;
  }
  .home-section-four .home-section-four-img-div .home-section-four-img-two {
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .home-section-four .home-section-four-word-div {
    max-width: 80vw;
  }
  .home-section-four .home-section-four-word-div p {
    font-size: 0.9rem;
  }
  .home-section-five .home-section-five-word-div {
    max-width: 80vw;
  }
  .home-section-five .home-section-five-word-div h3 {
    margin-top: 50px;
  }
  .home-section-five .home-section-five-word-div p {
    font-size: 0.9rem;
  }
  .home-section-five .homeimg12 {
    max-width: 300px;
  }
  .home-section-five .home-section-five-img-div {
    margin: 0px 0px 30px 0px;
  }
}
.home-section-two-card-img-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px 10px;
  height: 450px;
  width: 300px;
}
.home-section-two-card-img-div .home-section-two-card-img {
  border-radius: 20px;
  position: absolute;
  height: 400px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.home-section-two-card-img-div div {
  margin-top: 300px;
  position: relative;
  color: rgb(243, 230, 206);
}

@media screen and (max-width: 850px) {
  .home-section-two-card-img-div {
    margin-top: 15px;
    height: 315px;
    width: 210px;
    font-size: 0.7rem;
  }
  .home-section-two-card-img-div .home-section-two-card-img {
    height: 315px;
  }
  .home-section-two-card-img-div div {
    margin-top: 200px;
  }
}
.home-section-three-card {
  background-color: rgb(245, 245, 245);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 150px;
  border-radius: 20px;
  margin: 1rem 0rem;
}
.home-section-three-card img {
  max-width: 100px;
  border-radius: 50%;
  margin: 0rem 2rem;
}
.home-section-three-card .home-section-three-card-p-div h4 {
  font-size: 1.5rem;
}
.home-section-three-card .home-section-three-card-p-div .home-section-three-card-experience {
  color: rgb(245, 245, 245);
}
.home-section-three-card:hover {
  position: relative;
  right: 150px;
  height: 20vh;
  padding: 50px 0px 50px 0px;
}
.home-section-three-card:hover .home-section-three-card-experience {
  color: black;
}

@media screen and (max-width: 850px) {
  .home-section-three-card .home-section-three-card-p-div .home-section-three-card-experience {
    color: black;
  }
}
@media screen and (max-width: 767px) {
  .home-section-three-card .home-section-three-card-p-div h4 {
    font-size: 1.5rem;
  }
}
.home-section-six-card {
  max-width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem;
  border-radius: 15px;
  border: 3px solid rgb(184, 113, 51);
}
.home-section-six-card:hover {
  box-shadow: 12px 12px 7px rgba(0, 0, 0, 0.6);
}
.home-section-six-card .home-section-six-card-img-div {
  height: 250px;
}
.home-section-six-card .home-section-six-card-img-div img {
  border-radius: 15px 15px 0px 0px;
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}
.home-section-six-card .home-section-six-card-p-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home-section-six-card .home-section-six-card-p-div h4 {
  font-size: 1.5rem;
  color: rgb(184, 113, 51);
}
.home-section-six-card .home-section-six-card-p-div h5 {
  font-size: 1rem;
  color: rgb(184, 113, 51);
  margin: 0.5rem;
}
.home-section-six-card .home-section-six-card-p-div p {
  font-size: 1rem;
  max-width: 20vw;
}
.home-section-six-card button {
  margin: 1rem;
  padding: 0.5rem 2rem;
  border: none;
  background-color: rgb(184, 113, 51);
  color: rgb(245, 245, 245);
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}
.home-section-six-card button:hover {
  background-color: rgb(114, 111, 111);
}

@media screen and (max-width: 850px) {
  .home-section-six-card {
    max-width: 240px;
  }
}
@media screen and (max-width: 767px) {
  .home-section-six-card {
    max-width: 300px;
  }
  .home-section-six-card .home-section-six-card-p-div p {
    max-width: 50vw;
  }
}
.home-section-seven-card {
  background-color: rgb(245, 245, 245);
  height: 120px;
  margin: 0.5rem;
  padding: 0rem 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 10px;
}
.home-section-seven-card img {
  max-width: 50px;
  border-radius: 50%;
  margin: 0rem 2rem;
}
.home-section-seven-card .home-section-seven-card-p-div p {
  font-size: 1.1rem;
}
.home-section-seven-card .home-section-seven-card-p-div .star-icon {
  color: rgb(184, 113, 51);
}

@media screen and (max-width: 767px) {
  .home-section-seven-card .home-section-seven-card-p-div p {
    font-size: 0.9rem;
  }
}
.class-section-one {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.class-section-one .class-section-one-title-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}
.class-section-one .class-section-one-title-div h2 {
  font-size: 2rem;
  color: rgb(184, 113, 51);
}
.class-section-one .class-section-one-limited-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 90vw;
}
.class-section-one .class-section-one-limited-div div {
  max-width: 500px;
}
.class-section-one .class-section-one-limited-div div img {
  margin: 1rem;
  max-width: 500px;
  border-radius: 20px;
}
.class-section-one .class-section-one-limited-div .class-section-one-limited-word-div {
  margin: 1rem;
}
.class-section-one .class-section-one-limited-div .class-section-one-limited-word-div h3 {
  font-size: 1.5rem;
  color: rgb(184, 113, 51);
}
.class-section-one .class-section-one-limited-div .class-section-one-limited-word-div .class-section-one-limited-teacher {
  display: flex;
  margin: 1rem 0rem;
}
.class-section-one .class-section-one-limited-div .class-section-one-limited-word-div .class-section-one-limited-teacher h4 {
  color: rgb(114, 111, 111);
}
.class-section-one .class-section-one-limited-div .class-section-one-limited-word-div .class-section-one-limited-teacher div {
  background-color: rgb(184, 113, 51);
  border-radius: 10px;
  margin: 0rem 1rem;
  max-width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(243, 230, 206);
}
.class-section-one .class-section-one-limited-div .class-section-one-limited-word-div button {
  margin: 1rem 0rem;
  border: none;
  background-color: rgb(184, 113, 51);
  cursor: pointer;
  border-radius: 10px;
  height: 40px;
  font-size: 1rem;
  color: rgb(245, 245, 245);
}
.class-section-one .class-section-one-limited-div .class-section-one-limited-word-div button:hover {
  background-color: rgb(243, 230, 206);
  border: 2px solid rgb(184, 113, 51);
  color: black;
}

.class-section-two .class-section-two-select-div {
  background-color: rgb(184, 113, 51);
  height: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.class-section-two .class-section-two-select-div div {
  margin-left: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 200px;
}
.class-section-two .class-section-two-select-div div input {
  height: 40px;
  border: none;
  background-color: rgb(245, 245, 245);
  border-radius: 5px 0px 0px 5px;
  padding: 0rem 0.5rem;
}
.class-section-two .class-section-two-select-div div button {
  height: 40px;
  padding: 10px;
  cursor: pointer;
  border: none;
  background-color: rgb(114, 111, 111);
  border-radius: 0px 5px 5px 0px;
  color: rgb(245, 245, 245);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.class-section-two .class-section-two-select-div div select {
  height: 40px;
  margin-left: 1rem;
  border: none;
  border-radius: 5px;
  padding-left: 1rem;
}
.class-section-two .class-section-two-main-div {
  background-color: rgb(243, 230, 206);
  display: flex;
  justify-content: center;
}
.class-section-two .class-section-two-main-div .ClassSectionTwoImgCard-reverse {
  display: flex;
  flex-direction: row-reverse;
}
.class-section-two .class-section-two-main-div .class-section-two-main-div-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 3rem 0rem;
}
.class-section-two .class-section-two-main-div .class-section-two-main-div-box .class-section-two-main-div-box-word-div {
  width: 400px;
  margin: 30px 0px 0px 30px;
}
.class-section-two .class-section-two-main-div .class-section-two-main-div-box .class-section-two-main-div-box-word-div h4 {
  font-size: 2rem;
}
.class-section-two .class-section-two-main-div .class-section-two-main-div-box .class-section-two-main-div-box-word-div p {
  font-size: 1.2rem;
  margin: 1rem 0rem;
}

.class-section-three {
  background-color: rgb(245, 245, 245);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.class-section-three .class-section-three-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: rgb(184, 113, 51);
  margin-bottom: 3rem;
  margin-top: 2rem;
}
.class-section-three .class-section-three-teacher-card-div {
  display: flex;
  flex-wrap: wrap;
  max-width: 90vw;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .class-section-one .class-section-one-limited-div div img {
    max-width: 320px;
  }
  .class-section-two .class-section-two-select-div {
    justify-content: center;
  }
  .class-section-two .class-section-two-select-div div {
    margin-left: 0;
  }
  .class-section-two .class-section-two-main-div .class-section-two-main-div-box .class-section-two-main-div-box-word-div {
    margin-top: 50px;
    width: 300px;
  }
}
.class-section-two-img-card {
  display: flex;
}
.class-section-two-img-card img {
  border-radius: 10px;
}
.class-section-two-img-card .class-section-two-img-div-one {
  margin: 10px;
  height: 200px;
}
.class-section-two-img-card .class-section-two-img-div-one .class-section-two-img1 {
  max-width: 225px;
}
.class-section-two-img-card .class-section-two-img-div-one .class-section-two-time-one {
  position: relative;
  background-color: rgb(184, 113, 51);
  max-width: 80px;
  height: 30px;
  border-radius: 10px;
  top: -210px;
  left: 20px;
  text-align: center;
  color: rgb(245, 245, 245);
  display: flex;
  justify-content: center;
  align-items: center;
}
.class-section-two-img-card .class-section-two-img-div-one .class-section-two-p-div-one {
  position: relative;
  border-radius: 10px;
  background-color: rgba(243, 230, 206, 0.5);
  top: -130px;
}
.class-section-two-img-card .class-section-two-img-div-one .class-section-two-p-div-one h5 {
  font-size: 2rem;
}
.class-section-two-img-card .class-section-two-img-div-two {
  margin: 10px;
  height: 200px;
}
.class-section-two-img-card .class-section-two-img-div-two .class-section-two-img2 {
  max-width: 450px;
}
.class-section-two-img-card .class-section-two-img-div-two .class-section-two-time-two {
  position: relative;
  background-color: rgb(184, 113, 51);
  max-width: 80px;
  height: 30px;
  border-radius: 10px;
  top: -210px;
  left: 20px;
  text-align: center;
  color: rgb(245, 245, 245);
  display: flex;
  justify-content: center;
  align-items: center;
}
.class-section-two-img-card .class-section-two-img-div-two .class-section-two-p-div-two {
  position: relative;
  border-radius: 10px;
  background-color: rgba(243, 230, 206, 0.5);
  top: -130px;
}
.class-section-two-img-card .class-section-two-img-div-two .class-section-two-p-div-two h5 {
  font-size: 2rem;
}

@media screen and (max-width: 767px) {
  .class-section-two-img-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .class-section-two-img-card .class-section-two-img-div-one {
    margin: 40px 10px;
  }
  .class-section-two-img-card .class-section-two-img-div-one .class-section-two-img1 {
    max-width: 400px;
  }
  .class-section-two-img-card .class-section-two-img-div-one .class-section-two-time-one {
    top: -270px;
  }
  .class-section-two-img-card .class-section-two-img-div-two {
    margin: 40px 10px;
  }
  .class-section-two-img-card .class-section-two-img-div-two .class-section-two-img2 {
    max-width: 300px;
    height: 250px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .class-section-two-img-card .class-section-two-img-div-two .class-section-two-time-two {
    top: -270px;
  }
}
.teacherCard {
  background-color: rgb(243, 230, 206);
  max-width: 350px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  margin: 50px 20px;
}
.teacherCard img {
  border-radius: 50%;
  max-width: 150px;
  border: 3px solid rgb(184, 113, 51);
  position: relative;
  top: -60px;
}
.teacherCard .teacher-word {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 350px;
  padding: 1rem;
  margin-bottom: 1rem;
}

.classroom-section-one {
  background-color: rgb(245, 245, 245);
  display: flex;
  justify-content: center;
}
.classroom-section-one img {
  border-radius: 20px;
}
.classroom-section-one .classroomimage1 {
  max-width: 720px;
}
.classroom-section-one .classroom-section-one-div {
  max-width: 90vw;
  display: flex;
  flex-wrap: wrap;
  margin-top: 60px;
  justify-content: center;
  margin-bottom: 1rem;
}
.classroom-section-one .classroom-section-one-div .classroom-section-one-img-div {
  display: flex;
  flex-direction: column;
}
.classroom-section-one .classroom-section-one-div .classroom-section-one-img-div .classroom-section-one-img-div-inner-two div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.classroom-section-one .classroom-section-one-div .classroom-section-one-word-div {
  display: flex;
  justify-content: center;
}
.classroom-section-one .classroom-section-one-div .classroom-section-one-word-div .classroom-section-one-word-div-card {
  background-color: rgb(243, 230, 206);
  max-width: 21vw;
  max-height: 44vh;
  font-size: 1.1rem;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.classroom-section-one .classroom-section-one-div .classroom-section-one-word-div .classroom-section-one-word-div-card p {
  margin: 0.5rem;
}

.classroom-section-two {
  background-color: rgb(243, 230, 206);
  display: flex;
  justify-content: center;
  align-items: center;
}
.classroom-section-two .classroom-section-two-div .classroom-section-two-div-titlediv {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh;
}
.classroom-section-two .classroom-section-two-div .classroom-section-two-div-titlediv p {
  font-size: 2rem;
  color: rgb(184, 113, 51);
  margin-bottom: 1rem;
}
.classroom-section-two .classroom-section-two-div .classroom-section-two-div-imgdiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 1rem;
}

@media screen and (max-width: 850px) {
  .classroom-section-one .classroomimage1 {
    max-width: 600px;
  }
  .classroom-section-one .classroom-section-one-div .classroom-section-one-word-div .classroom-section-one-word-div-card {
    max-width: 40vw;
  }
}
@media screen and (max-width: 767px) {
  .classroom-section-one .classroomimage1 {
    max-width: 350px;
    height: 350px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .classroom-section-one .classroom-section-one-div .classroom-section-one-word-div .classroom-section-one-word-div-card {
    max-width: 65vw;
  }
}
.classroom-section-one-imgcard {
  margin: 0.5rem;
}
.classroom-section-one-imgcard img {
  max-width: 330px;
}
.classroom-section-one-imgcard .classroom-section-one-imgcard-p-div {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 230px;
  right: 300px;
  height: 50px;
  background-color: rgba(240, 230, 140, 0.8);
  border-radius: 10px;
}

@media screen and (max-width: 850px) {
  .classroom-section-one-imgcard img {
    max-width: 270px;
  }
  .classroom-section-one-imgcard .classroom-section-one-imgcard-p-div {
    top: 170px;
    right: 250px;
  }
}
.classroom-sectionTwo-imgCard {
  margin: 0rem 1rem;
  color: rgb(184, 113, 51);
}
.classroom-sectionTwo-imgCard img {
  border-radius: 20px;
  max-width: 250px;
}/*# sourceMappingURL=style.css.map */